{% include header.md %}

{% capture post_body %}
<div class="article">
  {{ content }}
  {% include comments.html %}
</div>
{% endcapture %}

<div class="d-md-flex min-height-full">
  <div style="margin:auto;">
    <div class="mx-auto" style="max-width: 900px;">
      <div class="f4 mb-6">
        <div class="f4">
          <h1 class="f00-light lh-condensed">{{ page.title }}</h1>
          <p class="{% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %} mb-5">Published {{ page.date | date: "%b %d, %Y"}}</p>
          {{ post_body }}
        </div>
      </div>
    </div>
  </div>
</div>

{% include full-footer.html %}
